html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0;
color: #151618;
font-size: 20px;
line-height: normal;
font-weight: 300px;
/* font-family: "Cormorant", serif; */
font-family: "Open Sans", sans-serif;
position: relative;
}

button{
    padding: 0;
    border: none;
    background-color: transparent
}

ul{
    list-style: none;
}
.title{
    text-align: center;
    margin-bottom: 60px;
    font-family: "Cormorant", serif;
    font-size: 40px;
    font-weight: 400;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__inner{
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


/* .reviews__item--hide{
    display: none;
} */

.logo{
    margin-bottom: 35px;
}

.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.menu--close{
 display: none;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, .5);
 z-index: 1;
 transition: background-color .3s ease;
}
.menu--close.menu--open{
    display: block;
}
.mobile__nav,
.menu__close{
    display: none;
}
.menu__btn span{
    background-color: #000;
    height: 2px;
    width: 100%;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}


.user__actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user__actions__item-search{
    margin-left: 80px;
}

.top{
    background-image: url(../images/Group\ 91.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.top__inner{
    min-height: 500px;
    color: #fff;
    font-family: "Cormorant", serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top__title{
font-size: 60px;
margin-bottom: 20px;
max-width: 790px;
line-height: 1;
font-weight: 400;
}

.top__text{
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}

.blockquote{
    text-align: center;
    font-family: "Cormorant", serif;
    font-style: italic;
    font-size: 40px;
    max-width: 704px;
    margin: 150px auto;
    line-height: normal;
}


.assortment{
    margin-bottom: 150px;
    
}

.assortment__list{
    text-align: center;
    display: flex;
    gap: 0 20px;
    margin-right: 40px;
}

.assortment__name{
margin-top: 10px;
font-size: 24px;
font-weight: 400;
font-family: "Cormorant", serif;
}

.assortment__img{
    max-width: 208px;
    max-height: 208px;
    width: 100%;
}

.assortment__list ul{
    margin-left: 0;
}

.reviews{
    background-color: #F7F2EA;
    padding-bottom: 60px 0;
}
.reviews__list{
    display: flex;
    gap: 0 30px;
    margin-right: 40px;
    justify-content: center;
}
.reviews__item{
    flex-basis: 280px;
    padding-bottom: 40px;
}
.reviews__text{
font-size: 16px;
font-style: italic;
margin-bottom: 10px;

}
.reviews__name{
font-weight: 600;
}

.main__blog{
    padding: 70px 0;
}
.main-blog__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
    margin-right: 40px;
}
.main-blog__item{
    flex-basis: 520px;
    display: flex;
    gap: 0 20px;
    
}
.main-blog__item-title{
font-size: 24px;
font-family: "Cormorant", serif;
font-weight: 400;
line-height: normal;
margin-top: 0;
}
.main-blog__item-author{
font-size: 13px;
}
.main-blog__item-link{
font-size: 13px;
margin-top: auto;
position: relative;
}
.main-blog__item-content{
    display: flex;
    flex-direction: column;
}
.main-blog__item-link::after{
    content: '';
    background-image: url(../images/mini.svg);
    position: absolute;
    width: 5px;
    height: 10px;
    margin-left: 8px;
    bottom: 3px;
}
.main-blog__link{
    padding: 12px 41px;
    display: flex;
    justify-content: center;
    margin: 72px auto;
    border: 1px solid #151618;
    width: 155px;
}

.mailing-list__title{
    text-align: left;
    margin-bottom: 50px; 
    padding-top: 20px; 
    margin-top: 0;  
}

.mailing-list__inner{
    display: flex;
    gap: 60px 40px;
}
.mailing-list{
    background-color: #F7F2EA;
    margin-bottom: 100px;
   padding-top: 60px;
   padding-bottom: 60px;
}
.mailing-list__text{
    margin: 0;
    line-height: 1.5;
    font-size: 20px;
}
.checkbox__text{
    margin: 0;
}

.mailing-list__form{
    display: flex;
    flex-wrap: wrap;
}

.mailing-list__email{
border: none;
border-bottom: 1px solid #B8B58B;
background-color: transparent;
padding: 3px 15px;
width: 410px;
margin-right: 25px;
font-style: normal;
font-weight: 300;
line-height: 1.5;
color: #151618;
}

.mailing-list__email::placeholder{
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 1.5;
color: #B8B58B;
padding-top: 10px;
}
.mailing-list__btn{
padding:12px 31px ;
background-color: #fff;
border: 1px solid #151618;
font-size: 20px;
font-weight: 300;
cursor: pointer;
}

.checkbox__text{
    font-size: 13px;
    padding-left: 20px;
}

.mailing-list__label{
margin-top: 16px;
}

.checkbox{
position: absolute;
width: 1px;
height: 1px;
clip: rect(0,0,0,0);
overflow: hidden;
padding-left: 20px;
}
.checkbox-style{
position: absolute;
width: 10px;
height: 10px;
border: 1px solid #151618;

margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #151618;
    top: 1px;
    left: 1px;
}









@media(max-width:1000px){
    .user__actions__item-search{
        margin-left: 30px;
    }
    .menu{
        margin-right: auto;
    }
    .menu__list{
        margin-left: 60px;
    }
    .logo{
        margin-bottom: 0;
    }
    .header__inner{
        min-height:auto;
    }
    .blockquote{
        margin-top: 120px;
        margin-bottom: 135px;
    }
    .assortment__list{
        gap: 0;
        
    }
    .assortment{
        margin-bottom: 120px;
    }
    
    .reviews__item:last-child{
       display: none;
    }
}
@media(max-width:868px){
  .menu__list{
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: white;
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-left: 0;
    transition: transform .8s ease;
  }
  .menu__list.menu__list--open{
    transform: translateY(0%);
  }
.menu__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}
.mobile__nav,
.menu__close{
    display: block;
}
  .menu__item{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Cormorant", serif;
  }
  
  .mobile__menu{
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #F7F2EA;
  }
  .mobile__menu__item{
    margin-bottom: 35px;
  }

   .mobile-actions{
    background-color: #F7F2EA;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
   }
   

  .mobile__menu {
    padding-left: 0;
  }
  .menu__btn{
    display: flex;
  }
  .menu{
    order: -1;
    margin-right: 0;
  }
  .logo{
    margin-left: auto;
    margin-right: 180px;
  }
}

@media(max-width:768px){
 .header__inner{
    padding-left: 64px;
    padding-right: 64px;
 }
 .logo{
    margin-left: auto;
    margin-right: 110px;
  }
  .blockquote{
    max-width: 640px;
  }
  .assortment__list{
    flex-wrap: wrap;
    justify-content: center;

}
.title{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Cormorant", serif;
    font-size: 40px;
    font-weight: 400;
}
.reviews__item:last-child{
    display: block;
 }
 .reviews__list{
    flex-wrap: wrap;
    gap: 30px 76px;
 }
 .reviews__item {
    flex-basis: 220px;
}
}

@media(max-width:680px){
 .container{
    padding-left: 10px;
    padding-right: 10px;
 }
 .header__inner{
    padding-left: 0;
    padding-right: 0;
 }
 .top__title{
    font-size: 40px;
    line-height: normal;
 }
 .blockquote{
    max-width: 376px;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .assortment__img{
    max-width: 170px;
 }
 .title{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Cormorant", serif;
    font-size: 30px;
    font-weight: 400;
}
.reviews__item {
    flex-basis: 150px;
}
}


@media(max-width:480px){
.logo{
    margin-right: 40px;
}
.logo img{
    width: 39px;
}
.menu__list{
    width: 360px;
}
.assortment__img{
    max-width: 130px;
 }
 .assortment{
    margin-bottom: 60px;
 }
 .title{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Cormorant", serif;
    font-size: 20px;
    font-weight: 400;
}
.reviews__list{
    gap: 30px 20px;
 }
 .reviews{
    padding: 50px 0;
 }
 .reviews__item{
    flex-basis: 100px;
}
.reviews__item{
    max-width: 150px;
}
.reviews__item {
    flex-basis: 100%;
}
}
@media(max-width:360px){
  .logo{
    margin-right: 10px;
  }
  .user__actions__item-search{
    margin-left: 0px;
  }
  .header__inner{
    padding: 10px 0;
  }
  .top__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text{
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner{
    min-height: 367px;
  }
  .blockquote{
    max-width: 340px;
    
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .menu__list{
    width: 260px;
}
.assortment__img{
   max-width: 100px;
}
.assortment{
    margin-bottom: 80px;
 }
 .title{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Cormorant", serif;
    font-size: 20px;
    font-weight: 400;
}
.reviews__item:last-child,
.reviews__item:first-child{
    display: none;
}
.reviews__item {
    flex-basis: 100%;
}
}
